<tr>
	<td class="date"><%= @service.date %></td>
	<td class="service_type">
		<% unless @service.service_type.nil? %>
            <%= @service.service_type.service_type %>
        <% end %>
	</td>
	<td class="leader">
		<% unless @service.leader.nil? %>
            <a class="unborderedanchor leaderAnchor" id="<%= @service.leader.id %>"><%= @service.leader.leader_name %></a>
        <% end %>
	</td>
    <td colspan="2" class="songs">
        <%= raw @service.songs.map { |song| link_to song.song_name, "#", class: "borderedanchor songAnchor", id: song.id }.join() %>
    </td>
</tr>