<table class="table table-bordered table-condensed" style="width: 90%; margin: auto; margin-top: 2%">
  <tr class="user_heading">
    <td>Email Address</td>
    <td>Sign Ins</td>
    <% if current_user.admin? %>
      <td>Super User</td>
    <% end %>
    <td>Admin</td>
    <td>Leader</td>
    <td>Guest</td>
    <td>Enabled</td>
  </tr>
  <% current_church = nil %>
  <% @users.each do |user| %>
    <% if current_church != user.church_id %>
      <% current_church = user.church_id %>
      <tr class="church_heading"><td colspan="<%= current_user.admin ? 7 : 6 %>"><%= user.church.church_name %></td></tr>
    <% end %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.sign_in_count %></td>
      <fieldset>
      <% if current_user.admin? %>
        <td><input name="<%= user.id %>" type="radio"<%= user.admin? ? " checked=checked" : "" %>></td>
      <% end %>
      <td><input name="<%= user.id %>" type="radio"<%= user.church_admin? ? " checked=checked" : "" %>></td>
      <td><input name="<%= user.id %>" type="radio"<%= user.church_leader? ? " checked=checked" : "" %>></td>
      <td><input name="<%= user.id %>" type="radio"<%= user.church_leader? || user.church_admin? || user.admin?  ? "" : " checked=checked" %>></td>
      </fieldset>
      <td><input type="checkbox"<%= user.enabled? ? " checked=\"checked\"" : "" %>></td>
    </tr>
  <% end %>
</table>