<table class="table table-condensed table-striped usagetable">
	<thead>
		<th></th>
		<th>Song</th>
		<th></th>
		<th>#</th>
		<th>Last Used</th>
	</thead>
	<tbody>
	<% @usages.each_with_index do |usage, index| %>
		<tr>
			<td><%= index+1 %></td>
			<td>
				<a class="unborderedanchor songAnchor" id="<%= usage.song_id %>"><%= usage.song_name %></a>
			</td>
			<td data-filter='<%= @song_tags[index].blank? ? "0" : @song_tags[index].map {|st| st.squish.downcase.tr(" ","_") }.join(" ") unless @song_tags.blank? %>'>
				<% unless @song_tags.blank? %>
					<%= raw @song_tags[index].map {|tag| "<span class='song_tag stateless'>#{tag}</span>" }.join %>
				<% end %>
			</td>
			<td><%= usage.count_song_id %></td>
			<td><%= usage.date %><%# .strftime "%-d %b %B %Y" %></td>
		</tr>
	<% end %>
	</tbody>
</table>