<div><%= form_for @song, html: {class: "form-horizontal", id: "frm_create"}, remote: true do |f| %>
	<div class="form-group"><%= f.label :song_name, raw("Song&nbsp;Name"), class: "col-sm-4 control-label" %>
		<div class="col-sm-8"><%= f.text_field :song_name, class: "form-control", required:"required" %></div>
	</div>
	<div class="form-group"><%= f.label :license, class: "col-sm-4 control-label" %>
		<div class="col-sm-8"><%= f.text_field :license, class: "form-control", required:"required" %></div>
	</div>
	<div class="form-group"><%= f.label :writers, class: "col-sm-4 control-label" %>
		<div class="col-sm-8"><%= f.text_field :writers, class: "form-control", required:"required" %></div>
	</div>
	<div class="form-group"><%= f.label :lyrics_url, raw("Lyrics&nbsp;URL"), class: "col-sm-4 control-label" %>
		<div class="col-sm-8"><%= f.text_field :lyrics_url, class: "form-control" %></div>
	</div>
	<div class="form-group"><%= f.label :sof_number, raw("SOF&nbsp;Number"), class: "col-sm-4 control-label" %>
		<div class="col-sm-8"><%= f.number_field :sof_number, class: "form-control" %></div>
	</div>
	<div class="form-group"><%= f.label :sample_url, raw("Sample&nbsp;URL"), class: "col-sm-4 control-label" %>
		<div class="col-sm-8"><%= f.text_field :sample_url, class: "form-control" %></div>
	</div>
	<div class="form-group"><%= f.label :ccli_number, raw("CCLI&nbsp;Number"), class: "col-sm-4 control-label" %>
		<div class="col-sm-8"><%= f.text_field :ccli_number, class: "form-control" %></div>
	</div>
	<div style="border-top: 1px solid #ccc; margin: 5px 0"></div>
	<div class="akas">
		<%= f.fields_for :akas do |aka| %>
      		<%= render 'aka_fields', :f => aka %>
		<% end %>
		<div class="links"><%= link_to_add_association 'Add Search Terms', f, :akas %></div>
	</div>
    <%= f.submit class:"btn btn-primary btn-lg btn-block" %>
<% end %></div>