<!DOCTYPE html>
<html>
  <head>
    <title>Songs We Sing</title>
    <link rel="icon" href="<%= asset_path 'favicon.png' %>" type="image/png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1 id="title"><img id="logo" src="<%= asset_path 'songswesing.png' %>"></h1>
    <% if user_signed_in? %>
      <div class="top-menu">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Usage Table', usages_path %></li>
          <li><%= link_to 'Services', services_path %></li>
          <li>
            <%= link_to 'Songs', songs_path %>
            <ul>
                <li><%= link_to 'Alternate Titles', akas_path %></li>
            </ul>
          </li>
          <% if current_user.admin? || current_user.church_admin? %><li><%= link_to 'Users', users_path %></li><% end %>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        </ul>
      </div>
    <% end %>
    <div class="clearfix"></div>
    <div class="flash container">
    	<% if !notice.nil? %>
        <div class="alert alert-success"><%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
    	<% end %>
    	<% if !alert.nil? %>
        <div class="alert alert-danger"><%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
    	<% end %>
    </div>

    <%= yield %>
  </body>
</html>